<div th:replace="shared/header"></div>

    <main class="main">
      <section class="content">
        <div class="content__title">
          <h3>Adicionar Livro</h3>
        </div>
        <form class="form" th:action="@{/book}" th:object="${book}" method="post">
          <label> Titulo: <input type="text" th:field="*{title}" name="title" /></label>
          <label> Autor: <input type="text" th:field="*{author}" name="author" /></label>
          <label> Estoque: <input type="number" th:field="*{stock_qty}" name="stock_qty" /></label>
          <label> Preço: <input type="number" th:field="*{price}" name="price" /></label>
          <button class="button button-large" type="submit">Enviar</button>
        </form>
      </section>
    </main>
    
<div th:replace="shared/footer"></div>
